body {
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    
    


}

.header {
    
    background: radial-gradient(circle, rgba(78, 227, 247, 0.452) 0%, rgb(4, 97, 114) 100%);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__img {
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
}

.login {
   background-color:rgba(2, 26, 24, 0.322);
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   padding: 0px 30px;
   min-height: calc(100vh - 200px);

}


.login__container{ 
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 40px;
    color: white;
    padding: 60px 68px 50px;
    min-height: 700px;
    width: 300px;
}

.login__container--form{
    display: flex;
    flex-direction: column;
}

.login__container--form label{
    font-size: 14px;

}

.login__container--remember-me {
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.login__container--remember-me a{
    color: white;
    font-size: 14px;
    text-decoration: none;
}

.login__container--remember-me a:hover{
    text-decoration: underline;
}

.login__container--social-media > div {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 15px;
    margin-top: 15px;

}

.login__container--social-media > div > img {
    width: 15px;
}



