body {
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    background-color: rgb(43, 178, 196);





}

.header {

    background: radial-gradient(circle, rgba(78, 227, 247, 0.452) 0%, rgb(4, 97, 114) 100%);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__img {
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 30px;
    min-height: calc(100vh - 200px);


}


.login__container {
    background-color: rgba(255, 255, 255, 0.3);
    border: 2px solid white;
    border-radius: 48px;
    color: white;
    padding: 60px 68px 50px;
    min-height: 450px;
    width: 300px;
    justify-content: space-around;
    flex-direction: column;

}

.login__container--form {
    display: flex;
    flex-direction: column;
}

.login__container--form label {
    font-size: 14px;

}

.login__container--remember-me {
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.login__container--remember-me a {
    color: white;
    font-size: 14px;
    text-decoration: none;
}

.login__container--remember-me a:hover {
    text-decoration: underline;
}

.login__container--social-media>div {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 15px;
    margin-top: 15px;

}

.login__container--social-media>div>img {
    width: 15px;
    margin-right: 10px;
}

.login__container--register {
    font-size: 14px;

}

.login__container--register a {
    font-size: 16px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.login__container--register a:hover {
    text-decoration: underline;
}

.input {
    background-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 2px solid white;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 0px 20px;
    outline: none;
    height: 50px;
}

::placeholder {
    color: white;
}

.button {
    background-color: hsl(180, 9%, 96%);
    border: none;
    border-radius: 25px;
    color: hsl(182, 68%, 48%);
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    height: 48px;
    letter-spacing: 1px;
    outline: none;


}

.button:hover {
    transform: translate3d(0px, -1px, 0px);
    background-color: hsl(187, 73%, 68%);
    color: white;
}

.footer {
    background: radial-gradient(circle, rgba(78, 227, 247, 0.452) 0%, rgb(4, 97, 114) 100%);
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
}

.footer a {
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding-left: 30px;
    text-decoration: none;


}

.footer a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    .login__container {
        background-color: transparent;
        border: none;
        padding: 0px;
        width: 100%;
    }

    .footer {
        align-items: flex-start;
        flex-direction: column;
    }
}