@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@1,100&display=swap');

body {
    margin: 0px;
    background: rgb(64, 172, 199);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    color: white;

}

.header {
    background: rgb(33, 214, 205);
    background: radial-gradient(circle, rgba(78, 227, 247, 0.452) 0%, rgb(4, 97, 114) 100%);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__img {
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
}

.header__menu {
    margin-right: 60px;
}

.header__menu ul {
    display: none;
    list-style: none;
    padding: 0px;
    position: absolute;
    width: 100px;
    text-align: right;
    margin: 0px 0px 0px -14px;

}

.header__menu:hover ul,
ul:hover {
    display: block;
    cursor: pointer;
}

.header__menu li {
    margin: 10px 0px;
}

.header__menu--img {
    height: 40px;
    margin-top: 4px;
    margin-right: 8px;

}

.header__menu li a {
    color: white;
    text-decoration: none;
}

.header__menu li a:hover {
    text-decoration: underline;

}

.header__menu--profile {
    margin-right: 8px;
    display: flex;
    align-items: center;
}

.header__menu--profile p {
    margin: 0px;

}

.main {
    height: 300px;

}

.main__title {
    font-size: 25px;

}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input {
    background-color: rgba(225, 225, 225, 0.1);
    border: 2px solid white;
    border-radius: 25px;
    height: 50px;
    width: 70%;

}

::placeholder {
    color: white;

}