body{
    margin: 0px;
    background-color: #ab88ff;
}

.header{
    background-color: #ab88ff;
    width: 100%;
    height: 80px;
}

.header__img{
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
}

.header__menu{
    margin-right: 30px;
}

.header__menu ul{
    /*display: none;*/
    list-style: none;
    padding: 0px;
}

.header__menu--profile{
    margin-right: 8px;
    width: 40px;
 }